/CompanyEmployee/.vs
/CompanyEmployee/vs
/CompanyEmployee/CompanyEmployees/.vs
/CompanyEmployee/CompanyEmployees/vs
/CompanyEmployee/CompanyEmployees/CompanyEmployees/bin
/CompanyEmployee/CompanyEmployees/CompanyEmployees/obj

